*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    gap: 20vh;
    height: 100vh;
    width: 100%;
}
.darkscreen{
    background-color: black;
}
header{
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(27, 27, 87);
height: 10vh;
color: white;
width: 100%;
position: fixed;
top: 0;
left: 0;

}
.header_darkscreen{
    background-color: aqua;
    color: black;
}
.header_name{
   line-height: 10vh;
   overflow: none;

}
#h_btn_box{
position: absolute;
right: 40px;
}
.button_images{
    margin-top: 30vh;
}
.main_images{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px;
  transition: 0.3s;
}
.main_images:hover{
    box-shadow: 0 0 20px blueviolet;
    opacity: 0.8;
    cursor: pointer;
}
.scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 2rem;
   
}
.score_darkscreen{
    color: white;
}
.box{
    margin-top: 7vh;
    
}
.box_text{
 font-size: 2rem;
 display: inline;
 background-color: rgb(10, 234, 36);
 border-radius: 10px;
 padding:10px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    height: 10vh;
    width: 100%;
    gap: 10px;
}

.themebutton{
  border-radius: 8px;
  font-size: 1rem;
  padding: 5px;
  transition: 0.3s;
}
.themebutton:hover{
   background-color: rgb(88, 17, 154);
}
.btn_blck_scrn{
    background-color: black;
    color: white;

}



